<app-navbar></app-navbar>
<section class="p2p-section lending-section margnbtn">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-9 heading-section ftco-animate text-center fadeInUp ftco-animated">
				<h2 class="headeing_title">Investment Bank Info</h2>
			</div>
		</div>
		<div class="row">

			<div class="col-md-12 lending-help-main">
				<mat-card  data-aos="zoom-in-right">
                     <div class="bankname"><span>Bank Name-</span> A.s paise Wala market Pvt Ltd</div>
                     <div class="bankname"><span>Account number -</span> 10056522291</div>
                     <div class="bankname"><span>IFSC Code-</span> IDFB0041264</div>
                     <div class="bankname"><span>BRANCH-</span> INDORE</div>
                     <div class="bankname"><span>BRANCH-</span> I.D.F.C BANK</div>
				</mat-card>
			</div>
		</div>
	</div>
</section>
<app-footer></app-footer>