<h2 mat-dialog-title>Register Now For Free</h2>
<mat-dialog-content class="mat-typography">
  <form
  action="https://formspree.io/mknqqkej"
  method="POST"
>
    <mat-form-field class="width" appearance="outline">
        <mat-label>Amount you want to invest</mat-label>
        <input matInput placeholder="($ 10000 - 20000)" name="ammount">
      </mat-form-field>
  
      <mat-form-field class="width" appearance="outline">
        <mat-label>First Name</mat-label>
        <input matInput placeholder="First Name" name="name">
      </mat-form-field>
      <mat-form-field  class="width" appearance="outline" >
        <mat-label>Last Name
        </mat-label>
        <input matInput placeholder="Last Name" name="lastname">
      </mat-form-field>
      <mat-form-field class="width" appearance="outline">
        <mat-label>Email ID</mat-label>
        <input matInput type="email" required name="email">
      </mat-form-field>
      <mat-form-field  class="width" appearance="outline">
        <mat-label>Mobile Number
        </mat-label>
        <input matInput placeholder="Mobile Number" name="mobile">
      </mat-form-field>
      <mat-dialog-actions align="end">
        <button  mat-button [mat-dialog-close]="true" cdkFocusInitial>Close</button>
        <button   type="submit" mat-button >Save</button>
      
      </mat-dialog-actions>
  </form>
</mat-dialog-content>
