<app-navbar></app-navbar>
<section class="p2p-section margnbtn lending-section">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-9 heading-section ftco-animate text-center fadeInUp ftco-animated">
				<div class="headeing_title">How It Works</div>
          <p>Peer to Peer Lending - Hassle Free and Smarter Way for Investors to Earn High Returns</p>
			</div>
		</div>
		<img  data-aos="zoom-in-right" class="imgcenter" src="assets/images/step1.png">	
		<mat-tab-group dynamicHeight>
			<mat-tab label="Step 1">
				<mat-card class="example-card">
					<mat-card-header>
					  <div mat-card-avatar >1</div>
					  <mat-card-title>Create Invester Accounts In minutes</mat-card-title>
					</mat-card-header>
					<mat-card-content>
					  <p>
						1.Post registration; open an investor
					 account by filling a simple online form 
					 and uploading your Pan Card copy and address proof to adhere to KYC criteria as set by the RBI. Your wallet will be 
					credited with the notional money of Rs. 50,000 after registration
					  </p>
					</mat-card-content>
				  </mat-card>
			</mat-tab>

			<mat-tab label="Step 2">
				<mat-card class="example-card"  data-aos="zoom-in-right">
					<mat-card-header>
					  <div mat-card-avatar >2</div>
					  <mat-card-title>KYC as per RBI Guidelines</mat-card-title>
					</mat-card-header>
					<mat-card-content>
					  <p>
						credit score model and recommends interest rate and assigns a risk category to each of the loans to make your investment decision simple.
					  </p>
					</mat-card-content>
				  </mat-card>
			  </mat-tab>
			  <mat-tab label="Step 3">
				<mat-card class="example-card">
					<mat-card-header>
					  <div mat-card-avatar >3</div>
					  <mat-card-title> AS PAISEWALA MARKET Verification</mat-card-title>
					</mat-card-header>
					<mat-card-content>
					  <p>
						1.Post registration; open an investor
					 account by filling a simple online form 
					 and uploading your Pan Card copy and address proof to adhere to KYC criteria as set by the RBI. Your wallet will be 
					credited with the notional money of Rs. 50,000 after registration
					  </p>
					</mat-card-content>
				  </mat-card>
			  </mat-tab>
			  <mat-tab label="Step 4">
				<mat-card class="example-card">
					<mat-card-header>
					  <div mat-card-avatar >4</div>
					  <mat-card-title>Start Bidding or Reaching out to Investors</mat-card-title>
					</mat-card-header>
					<mat-card-content>
					  <p>
						Select and fund the loan projects as per your preference using money available in your wallet. You can start investing from just Rs. 5,000, however, you can fund maximum up to 20% of loan amount requested by Borrower. You will have to recharge your wallet for investments after Rs. 50,000.
					  </p>
					</mat-card-content>
				  </mat-card>
			  </mat-tab>
			  <mat-tab label="Step 5">
				<mat-card class="example-card">
					<mat-card-header>
					  <div mat-card-avatar >5</div>
					  <mat-card-title>Tranfer Funds Recive Payments</mat-card-title>
					</mat-card-header>
					<mat-card-content>
					  <p>
						Once all legal formalities have been completed, investors need to transfer funds to the Unique Escrow account assigned to each investor for disbursal. You will start receiving monthly repayments in your bank account from next month onwards.
					  </p>
					</mat-card-content>
				  </mat-card>
			  </mat-tab>
		  </mat-tab-group>
	</div>
</section>

<app-footer></app-footer>

