<app-navbar></app-navbar>
<section class="p2p-section lending-section margnbtn">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-9 heading-section ftco-animate text-center fadeInUp ftco-animated">
				<h2 class="headeing_title">Product</h2>
			</div>
		</div>
		<div class="row">

			<div class="col-md-12 lending-help-main">
				<mat-card  data-aos="zoom-in-right">
					<strong class="label headeing_title">Civil Work</strong>

					<img class="imgcenter" src="assets/images/civil1.jpg">

					<p>Being a Realistic infrastucture and consulant services in the construction domain, we process all types of Civil Works required for
						construction. We work on everything from foundation to complete installation of pipe lines and
						tap works.
						Our workforce is highly experienced in piping, plumbing, roof designing and fitting of other
						internal accessories in homes</p>

						<p>
							Realistic infrastucture and consulant services
						</p>
						<p>
							contact - 9713996997 , 7581004440
						</p>
				</mat-card>
			</div>
		
			<div  data-aos="zoom-in-right" class="col-md-9 heading-section lending-section ftco-animate text-center fadeInUp ftco-animated">
				<h2 class="headeing"> - Investment Insurance -</h2>
			</div>
			<div   data-aos="zoom-in-right" class="col-md-9 heading-section lending-section ftco-animate text-center fadeInUp ftco-animated">
				<h2 class="headeing"> - Rice Trading import and export-</h2>
			</div>
			<div   data-aos="zoom-in-right" class="col-md-9 heading-section lending-section ftco-animate text-center fadeInUp ftco-animated">
				<h2 class="headeing"> - Plotting Marking and developing- </h2>
			</div>

		</div>
	</div>
</section>
<app-footer></app-footer>