<app-navbar></app-navbar>
<section class="p2p-section margnbtn lending-section">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-9 heading-section ftco-animate text-center fadeInUp ftco-animated">
				<div class="headeing_title">Leagl Document</div>
			</div>
		</div>
		<div  data-aos="zoom-in-right" class="col-md-9 heading-section lending-section ftco-animate text-center fadeInUp ftco-animated">
		<img  data-aos="zoom-in-right" class="imgcenter" src="assets/images/le1.png">	
		</div>
		<div  data-aos="zoom-in-right" class="col-md-9 heading-section lending-section ftco-animate text-center fadeInUp ftco-animated">
			<img  data-aos="zoom-in-right" class="imgcenter" src="assets/images/le2.png">	
		</div>
	</div>
</section>

<app-footer></app-footer>

