<section class="page__section" data-aos="zoom-in-up">

  <div data-aos="zoom-in-up" class="homesabtitle">India's Leading Peer to Peer Lending Platform</div>

  <p  data-aos="zoom-in-up" class="desc text-white text-center" style="max-width: 1000px">
    With AS PAISEWALA MARKET, you can avail quick invest money online to earn great returns.
    AS PAISEWALA MARKET is India's leading peer to peer lending marketplace that connects high quality creditworthy
    borrowers with smart investors online.
  </p>
  <div class="text-center">
    <button data-aos="zoom-in-up" class="delicious-btn" (click)="openDialog()">Invest Now</button>

  </div>
      <img class="imgcenter" src="assets/images/sla.svg" >
</section>