<app-navbar></app-navbar>
<div class="headeing_title">Blog</div>
<section class="details-card p2p-section lending-section" data-aos="zoom-in-up">

    <div class="container" data-aos="zoom-in-up">
        <div class="row">
            <div class="col-md-4">
                <div class="card-content">
                    <div class="card-img">
                        <img src="assets/images/sl1.jpg" alt="">
                        <span><h4>Blog 1</h4></span>
                    </div>
                    <div class="card-desc">
                        <h3>start doing today to have a financially healthy future!</h3>
                        <p>Every individual has some basic goals in life such as children's higher education and marriage..
                            </p>
                            <a href="#" class="btn-card">Read</a>   
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-content">
                    <div class="card-img">
                        <img src="assets/images/sl2.jpg" alt="">
                        <span><h4>Blog 2</h4></span>
                    </div>
                    <div class="card-desc">
                        <h3>Best Investment Options In India For 2019</h3>
                        <p>With time, more and more people are realizing the benefits of investing their hard-earned money in different avenues. According to financial experts, you should start saving ..</p>
                            <a href="#" class="btn-card">Read</a>   
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-content">
                    <div class="card-img">
                        <img src="assets/images/sl3.jpg" alt="">
                        <span><h4>Blog 3</h4></span>
                    </div>
                    <div class="card-desc">
                        <h3>Why Should Banks Have All The Fun?</h3>
                        <p>n this day and age of sophisticated technology and rapid economic growth, India still has a largely unbanked and underserved population by the country's financial institutions...</p>
                            <a href="#" class="btn-card">Read</a>   
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>