<app-navbar></app-navbar>
<app-slider></app-slider>
<section class="p2p-section lending-section" data-aos="fade-down">
	<div class="container" data-aos="zoom-in-up">
		<div class="row justify-content-center">
			<div class="col-md-9 heading-section ftco-animate text-center fadeInUp ftco-animated">
				<div data-aos="zoom-in-up" class="headeing_title">How Peer to Peer Lending can help you</div>

			</div>
		</div>
		<div class="row">
			<div class="col-md-12 lending-help-main"  data-aos="fade-right">
				<mat-card>
					<img  data-aos="zoom-out-right" class="imgcenter" src="assets/images/peer2.jpg">
			
					<p data-aos="zoom-in-up">1. On an average, our investors earn a return of 2 - 10% (risk adjusted, net returns)
					</p>
					<p data-aos="zoom-in-up"> 2. Invest as little as ₹ 10,000 in multiple verified & creditworthy borrowers</p>

					<p data-aos="zoom-in-up">3. Earn monthly returns without any hidden charges</p>

					<p data-aos="zoom-in-up">4. Very low risk alternate investments. </p>
					<p data-aos="zoom-in-up"> Peer to Peer lending, also known as P2P Lending, is a financial innovation which connects verified borrowers seeking unsecured personal loans with investors looking to earn higher returns on their investments. Verified borrowers are listed on the P2P lending platform, Investors can see all the details about the borrowers before lending money to them. Investors have the option to lend small amounts to multiple borrowers to diversify their investments.
 
						Peer to Peer Lending is already a hugely successful model for alternate financing across the globe. In India, P2P Lending is gaining traction at a very fast pace and slowly becoming a very attractive investment option for investors. RBI has already taken a cognizance of this innovation and come up with regulations for the sector.</p>
			      
				</mat-card>
			</div>
		</div>

		
	</div>
</section>
<section class="p2p-section lending-section" data-aos="zoom-in-up">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-9 heading-section ftco-animate text-center fadeInUp ftco-animated">
				<div data-aos="zoom-in-up" class="headeing_title">How It Works</div>
          <p>Peer to Peer Lending - Hassle Free and Smarter Way for Investors to Earn High Returns</p>
			</div>
		</div>
		<img  data-aos="zoom-in-up" class="imgcenter" src="assets/images/step1.png">	
		<mat-tab-group dynamicHeight>
			<mat-tab label="Step 1">
				<mat-card class="example-card">
					<mat-card-header>
					  <div mat-card-avatar >1</div>
					  <mat-card-title>Create Invester Accounts In minutes</mat-card-title>
					</mat-card-header>
					<mat-card-content>
					  <p data-aos="zoom-in-up">
						1.Post registration; open an investor
					 account by filling a simple online form 
					 and uploading your Pan Card copy and address proof to adhere to KYC criteria as set by the RBI. Your wallet will be 
					credited with the notional money of Rs. 50,000 after registration
					  </p>
					</mat-card-content>
				  </mat-card>
			</mat-tab>

			<mat-tab label="Step 2">
				<mat-card class="example-card">
					<mat-card-header>
					  <div mat-card-avatar >2</div>
					  <mat-card-title>KYC as per RBI Guidelines</mat-card-title>
					</mat-card-header>
					<mat-card-content>
					  <p>
						credit score model and recommends interest rate and assigns a risk category to each of the loans to make your investment decision simple.
					  </p>
					</mat-card-content>
				  </mat-card>
			  </mat-tab>
			  <mat-tab label="Step 3">
				<mat-card class="example-card">
					<mat-card-header>
					  <div mat-card-avatar >3</div>
					  <mat-card-title> AS PAISEWALA MARKET Verification</mat-card-title>
					</mat-card-header>
					<mat-card-content>
					  <p>
						1.Post registration; open an investor
					 account by filling a simple online form 
					 and uploading your Pan Card copy and address proof to adhere to KYC criteria as set by the RBI. Your wallet will be 
					credited with the notional money of Rs. 50,000 after registration
					  </p>
					</mat-card-content>
				  </mat-card>
			  </mat-tab>
			  <mat-tab label="Step 4">
				<mat-card class="example-card">
					<mat-card-header>
					  <div mat-card-avatar >4</div>
					  <mat-card-title>Start Bidding or Reaching out to Investors</mat-card-title>
					</mat-card-header>
					<mat-card-content>
					  <p>
						Select and fund the loan projects as per your preference using money available in your wallet. You can start investing from just Rs. 5,000, however, you can fund maximum up to 20% of loan amount requested by Borrower. You will have to recharge your wallet for investments after Rs. 50,000.
					  </p>
					</mat-card-content>
				  </mat-card>
			  </mat-tab>
			  <mat-tab label="Step 5">
				<mat-card class="example-card">
					<mat-card-header>
					  <div mat-card-avatar >5</div>
					  <mat-card-title>Tranfer Funds Recive Payments</mat-card-title>
					</mat-card-header>
					<mat-card-content>
					  <p>
						Once all legal formalities have been completed, investors need to transfer funds to the Unique Escrow account assigned to each investor for disbursal. You will start receiving monthly repayments in your bank account from next month onwards.
					  </p>
					</mat-card-content>
				  </mat-card>
			  </mat-tab>
		  </mat-tab-group>
	</div>
</section>
<section class="p2p-section lending-section" data-aos="zoom-in-up">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-9 heading-section ftco-animate text-center fadeInUp ftco-animated">
				<h2 class="headeing_title">Why should you invest ?</h2>
				<p>AS PAISEWALA MARKET makes you can create a seamless passive income stream with regular monthly
					repayments. We operate with a mission of keeping our costs low compared to traditional financial
					institutions by cutting out the middleman and pass all of the the savings directly to our
					investors who</p>
				<p>get high returns and borrowers who are charged low interest rates.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 lending-help-main" >
				<mat-card>
					<img  data-aos="zoom-in-down" class="imgcenter" src="assets/images/higher-returns.svg">
					<p>
						<strong class="label">Higher Returns</strong></p>
					<p>With P2P investing, you can earn better returns than most traditional investment options. Interest rates at AS PAISEWALA MARKET range between 2% - 10% depending on the risk appetite..</p>
				</mat-card>
			</div>

			<div class="col-md-12 lending-help-main"  data-aos="zoom-in-down">
				<mat-card>
					<img data-aos="fade-down"
					data-aos-easing="linear"
					data-aos-duration="1500" class="imgcenter" src="assets/images/increase-your.svg">
					<p>
						<strong class="label">Increase Your Potential earnings</strong></p>
					<p>Create passive income with regular monthly repayments as borrowers pay back with EMIs.</p>
				</mat-card>
			</div>


			<div class="col-md-12 lending-help-main"  data-aos="zoom-in-down">
				<mat-card>
					<img  data-aos="fade-down"
					data-aos-easing="linear"
					data-aos-duration="1500"class="imgcenter" src="assets/images/strong-borrower.svg">
					<p>
						<strong class="label">Transparent and Secure</strong></p>
					<p>we have put in place one of the highest data security and safety standards to keep your data protected and confidential at all times...</p>
				</mat-card>
			</div>

		</div>
	</div>
</section>

<section class="p2p-section " >
	<div class="container">
		<div class="row justify-content-center lending-help-main mt-2">
			<div  class="col-md-9 heading-section ftco-animate text-center fadeInUp ftco-animated">
				<h3 class="headeing_title">Company Overview </h3>
				<mat-card>
					<img data-aos="fade-down"
					data-aos-easing="linear"
					data-aos-duration="1500" class="imgoc" src="assets/images/i2.jpg">
				</mat-card>
				<div class="col-md-12 lending-help-main">
				<p>AS PAISEWALA MARKET is an MCA licensed - peer-to-peer lending platform in India. We are creating
					a conducive environment for borrowers and investors Unlike banks and financial institutions AS
					PAISEWALA MARKET cuts down the interest rates for borrowers and increases investor's yields by
					eliminating mediators like commercial banks, depository institutions etc. AS PAISEWALA MARKET
					aims to revolutionize market in India by creating a one-stop shop for all borrowers with varied
					profiles and needs who can have access to both retail and institutional investors with varying
					risk appetites. We are a team of young and energetic professionals who have come together from
					diverse backgrounds such as investment banking, consulting, technology, e-commerce and startup
					management to disrupt the personal credit sector in India AS PAISEWALA MARKET is designed to cut
					the middle man and the costs associated with the middle man and help investors and borrowers
					interact directly with each other without any hidden charges in the most transparent, convenient
					and efficient manner
				  </p>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- <section class=" ftc-no-pb">
	<div class="container">
		<div class="row no-gutters">
			<div class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center order-md-last"
				style="background-image: url(assets/images/.jpg);">
			</div>
			<div class="col-md-7 wrap-about ">
				<div class="heading-section mb-5 pl-md-5">
					<div class="pr-md-5 mr-md-5 text-md-right">
						<span class="subheading">Company Intro</span>
						<h2 class="mb-4"></h2>
					</div>
				</div>
				<div class="pr-md-5 pl-md-5 mr-md-5 mb-5">
					<div class="services-wrap d-flex">
						<div class="icon d-flex justify-content-center align-items-center">
							<span class="flaticon-balance"></span>
						</div>
						<div class="media-body pr-4 order-md-first text-md-right">
							<h3 class="heading">WHAT IS AS PAISEWALA MARKET?</h3>
							<p>In this growing global market getting in touch with potential investors and borrowers is
								challenging and this is where AS PAISEWALA MARKETcomes into play..

							</p>
						</div>
					</div>
					<div class="services-wrap d-flex">
						<div class="icon d-flex justify-content-center align-items-center">
							<span class="flaticon-family-room"></span>
						</div>
						<div class="media-body pr-4 order-md-first text-md-right">
							<h3 class="heading">WHAT AS PAISEWALA MARKETDOES?</h3>
							<p>We verify each and every member at the time of registration, either as an investor or
								borrower. This ensures that the information that you see on our website about each
								member is authenticated to the best of AS PAISEWALA MARKET's capabilities. ..</p>
						</div>
					</div>
					<div class="services-wrap d-flex">
						<div class="icon d-flex justify-content-center align-items-center">
							<span class="flaticon-bar-chart"></span>
						</div>
						<div class="media-body pr-4 order-md-first text-md-right">
							<h3 class="heading">INCREASE YOUR POTENTIAL EARNINGS</h3>
							<p>Create passive income with regular monthly repayments as borrowers pay back with EMIs..
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section> -->

<!-- <div class="row">
	<div class="col-md-4 ftco-animate fadeInUp ftco-animated">
		<div class="blog-entry">
			<a href="blog-single.html" class="block-20" style="background-image: url('assets/images/i2.jpg');">
			</a>
			<div class="text d-flex py-4">

				<div class="desc pl-3">
					<h3 class="heading">
						1.On an average, our investors earn a return of 16 - 18% (risk adjusted, net
						returns)
					</h3>

					<h3 class="heading">
						2.Invest as little as ₹ 10,000 in multiple verified &amp; creditworthy borrowers
					</h3>
					<h3 class="heading">
						3.Earn monthly returns without any hidden charges
					</h3>
					<h3 class="heading">
						4.Very low risk alternate investments
					</h3>
				</div>
			</div>
		</div>
	</div>


</div> -->




<mat-card>
<div class="container"  data-aos="zoom-in-up" >
	<div class="row justify-content-center ">
		<div class="col-md-9 heading-section ftco-animate text-center fadeInUp ftco-animated">
			<h2 class="headeing_title">Frequently Asked Questions</h2>
		</div>
	</div>
	<div class="row">
		<div class="container my-4">
			<div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

				<!-- Accordion card -->
				<div class="card">

					<!-- Card header -->
					<div class="card-header" role="tab" id="headingOne1">
						<a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
							aria-controls="collapseOne1">
							<h5 class="mb-0">
								What is P2P Lending and how does it work ? 
							</h5>
						</a>
					</div>

					<!-- Card body -->
					<div id="collapseOne1" class="collapse" role="tabpanel" aria-labelledby="headingOne1"
						data-parent="#accordionEx">
						<div class="card-body">
							Peer to peer investing is a method of lending capital to borrowers on a
							mutually-agreed interest rate through an online platform like AS PAISEWALA MARKET which acts
							as
							a marketplace. P2P platforms verify each and every borrower at the time of
							registration, either as an investor or borrower. This ensures that the information
							that you see online about each member is verified to the best of their capabilities.
							AS PAISEWALA MARKET collects and authenticates Personal, Professional, Social and Financial
							details from each potential borrower. Once a borrower and investor come to a mutual
							agreement, AS PAISEWALA MARKET helps them legalize the transaction by signing a formal
							contract.
						</div>
					</div>

				</div>
				<!-- Accordion card -->

				<!-- Accordion card -->
				<div class="card">

					<!-- Card header -->
					<div class="card-header" role="tab" id="headingTwo2">
						<a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2"
							aria-expanded="false" aria-controls="collapseTwo2">
							<h5 class="mb-0">
								Is P2P Lending legal in India?
							</h5>
						</a>
					</div>

					<!-- Card body -->
					<div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2"
						data-parent="#accordionEx">
						<div class="card-body">
							Yes, P2P Lending is a legal business regulated by the Reserve Bank of India. No
							organization can carry on the business of P2P lending without obtaining a
							certificate of registration from the Reserve Bank. AS PAISEWALA MARKET is an RBI-certified
							MCA
						</div>
					</div>

				</div>
				<!-- Accordion card -->

				<!-- Accordion card -->
				<div class="card">

					<!-- Card header -->
					<div class="card-header" role="tab" id="headingThree3">
						<a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree3"
							aria-expanded="false" aria-controls="collapseThree3">
							<h5 class="mb-0">
								Is P2P Lending safe?
							</h5>
						</a>
					</div>

					<!-- Card body -->
					<div id="collapseThree3" class="collapse" role="tabpanel" aria-labelledby="headingThree3"
						data-parent="#accordionEx">
						<div class="card-body">
							Investors at AS PAISEWALA MARKET have access to a wide range of borrowers with varied risk
							profiles, giving them an opportunity to create diverse portfolios. With strong
							assessment and collection mechanism, AS PAISEWALA MARKET makes P2P investing much safer than
							many other investment options available. Peer to peer investing is an excellent
							investment option as it has a higher return on the capital. The emergence of P2P
							Lending has enabled many individuals to lend money directly to prospective borrowers
							in a hassle-free manner without the involvement of the banks and FIs. But just like
							any other investment, it has its own risks. However, these risks can be mitigated by
							intelligently diversifying your borrower portfoli The main risk involved with peer
							to peer investing is the risk of default by the borrower. AS PAISEWALA MARKET has an
							in-house
							recovery team as well as RBI-registered collection agencies as well to help the
							lenders in such cases.
						</div>
					</div>

				</div>
				<!-- Accordion card -->
				<!-- Accordion card -->
				<div class="card">

					<!-- Card header -->
					<div class="card-header" role="tab" id="headingThree4">
						<a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree4"
							aria-expanded="false" aria-controls="collapseThree4">
							<h5 class="mb-0">
								How much can you make from P2P Lending?
							</h5>
						</a>
					</div>

					<!-- Card body -->
					<div id="collapseThree4" class="collapse" role="tabpanel" aria-labelledby="headingThree4"
						data-parent="#accordionEx">
						<div class="card-body">
							Returns from P2P Lending is generally higher compared to traditional investment
							options like a Fixed Deposit or Mutual funds. You can choose the desired rate of
							interest you want to invest at, depending on your risk appetite. AS PAISEWALA MARKET offers
							a
							wide range of interest rate options varying between 2% - 10% per annum.
						</div>
					</div>

				</div>
				<!-- Accordion card -->

				<!-- Accordion card -->
				<div class="card">

					<!-- Card header -->
					<div class="card-header" role="tab" id="headingThree5">
						<a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree5"
							aria-expanded="false" aria-controls="collapseThree5">
							<h5 class="mb-0">
								Is AS PAISEWALA MARKET a Pan-India operation?<i
									class="fas fa-angle-down rotate-icon"></i>
							</h5>
						</a>
					</div>

					<!-- Card body -->
					<div id="collapseThree5" class="collapse" role="tabpanel" aria-labelledby="headingThree5"
						data-parent="#accordionEx">
						<div class="card-body">
							Yes, you can invest or borrow through AS PAISEWALA MARKET in all metropolitan cities within
							India.
						</div>
					</div>

				</div>
				<!-- Accordion card -->

			</div>
		</div>
	</div>
</div>
</mat-card>

<app-tpye-features></app-tpye-features>


<section class="contact pt-100 pb-100" id="contact"  data-aos="zoom-in-up">
	<div class="container">
	   <div class="row">
		  <div class="col-xl-6 mx-auto text-center">
			 <div class="section-title mb-100">
				<p>get in touch</p>
				<h4>contact me</h4>
			 </div>
		  </div>
	   </div>
	   <div class="row text-center">
			 <div class="col-md-8">
				<form action="https://formspree.io/mbjzzqwa" method="POST" class="contact-form">
				   <div class="row">
					  <div class="col-xl-6">
						 <input type="text"  name="name"  placeholder="name">
					  </div>
					  <div class="col-xl-6">
						 <input type="text"  name="email"   placeholder="email">
					  </div>
					  <div class="col-xl-6">
						 <input type="text"  name="subject"  placeholder="subject">
					  </div>
					  <div class="col-xl-6">
						 <input type="text"   name="phone"  placeholder="telephone">
					  </div>
					  <div class="col-xl-12">
						 <textarea placeholder="message"  name="message"  cols="30" rows="10"></textarea>
						 <input type="submit" value="send message">
					  </div>
				   </div>
				</form>
			 </div>
			 <div class="col-md-4">
				<div class="single-contact">
				   <i class="fa fa-map-marker"></i>
				   <h5>Address</h5>
				   <p>	PU 4 260 NEAR MALHAR MEGA MALL (INDORE)</p>
				   <p>	6th FLOOR C WING KK MARKET DHANKAWADI (PUNE)</p>
				</div>
				<div class="single-contact">
				   <i class="fa fa-phone"></i>
				   <h5>Phone</h5>
				   <p>(+91) 9926302999
				</p>
				</div>
				<div class="single-contact">
				   <i class="fa fa-envelope"></i>
				   <h5>Email</h5>
				   <p>info@aspasiewalamarket.com</p>
				</div>
			 </div>
	   </div>
	</div>
 </section>

<app-footer></app-footer>